VenueLoginRegClient/App_WebReferences/LoginRegSvcRef/VenueLoginRegService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VenueUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="VenueAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueAgeRestriction" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VenueCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueDateAdded" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VenueEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueKey" type="xs:int" />
      <xs:element minOccurs="0" name="VenueLogins" nillable="true" type="tns:ArrayOfVenueLogin" />
      <xs:element minOccurs="0" name="VenueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenuePassWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenuePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueWebPage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VenueUser" nillable="true" type="tns:VenueUser" />
  <xs:complexType name="ArrayOfVenueLogin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VenueLogin" nillable="true" type="tns:VenueLogin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVenueLogin" nillable="true" type="tns:ArrayOfVenueLogin" />
  <xs:complexType name="VenueLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Venue" nillable="true" type="tns:Venue" />
      <xs:element minOccurs="0" name="VenueKey" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VenueLoginDateAdded" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VenueLoginHashed" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="VenueLoginKey" type="xs:int" />
      <xs:element minOccurs="0" name="VenueLoginPasswordPlain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueLoginRandom" type="xs:int" />
      <xs:element minOccurs="0" name="VenueLoginUserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VenueLogin" nillable="true" type="tns:VenueLogin" />
  <xs:complexType name="Venue">
    <xs:sequence>
      <xs:element minOccurs="0" name="VenueAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueAgeRestriction" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VenueCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueDateAdded" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VenueEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueKey" type="xs:int" />
      <xs:element minOccurs="0" name="VenueLogins" nillable="true" type="tns:ArrayOfVenueLogin" />
      <xs:element minOccurs="0" name="VenueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenuePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueWebPage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Venue" nillable="true" type="tns:Venue" />
</xs:schema>